.acona-urls-block__url {
  word-break: break-word;
  display: inline-block;
  width: 70%;
  padding: 6px;
}
.acona-urls-block__score {
  background: black;
  color: white;
  padding: 6px;
  display: inline-block;
  float: right;
}
.acona-urls-block ul.acona-urls-block__list {
  list-style: none;
  margin-left: 0;
}
.acona-urls-block ul.acona-urls-block__list li {
  margin-bottom: 4px;
  background: #f1f1f1;
}