.acona .acona-heading {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.acona .score {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.acona .score-counter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.acona .score-counter__subtitle {
  display: block;
  text-align: center;
  margin-top: -1em;
}
.acona .score-chart {
  margin-bottom: 30px;
}
.acona .score-quickinfo {
  font-size: 18px;
  display: flex;
  align-items: center;
}
.acona .score-quickinfo__url {
  font-weight: bold;
  word-break: break-all;
}
.acona .acona-score {
  width: 150px;
  height: 100px;
}
.acona .acona-score__tacho-bg, .acona .acona-score__tacho-meter {
  will-change: auto;
  stroke-width: 20px;
  transition: stroke-dashoffset 850ms ease-in-out;
  stroke-linecap: round;
}
.acona .acona-score--high .acona-score__tacho-meter {
  stroke: #bada55;
}
.acona .acona-score--low .acona-score__tacho-meter {
  stroke: #b50000;
}
.acona .acona-score--medium .acona-score__tacho-meter {
  stroke: #ff9c1e;
}
.acona .recommendations-section {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.acona .recommendations {
  list-style: none;
}
.acona .recommendation__indication {
  display: inline-block;
  position: relative;
  top: 0.25rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.acona .recommendation__indication.is-red {
  background-color: red;
}
.acona .recommendation__indication.is-green {
  background-color: green;
}
.acona .recommendation__indication.is-yellow {
  background-color: orange;
}
.acona .recommendation__title {
  text-transform: uppercase;
  color: gray;
}
.acona .recommendation__date {
  font-size: 12px;
  display: block;
}
@media all and (min-width: 600px) {
  .acona .recommendation__date {
    float: right;
    display: inline;
  }
}
.acona .recommendation__more {
  display: block;
}
@media all and (min-width: 600px) {
  .acona .recommendation__more {
    margin-left: 1.75rem;
  }
}
.acona .recommendation__more p {
  margin-top: 0;
  font-size: 14px;
}
.acona .acona-no-results {
  font-size: 18px;
}
.acona .notification__date {
  font-weight: bold;
}
.acona .notification__title {
  display: inline-block;
  padding: 2px 6px;
  background: black;
  color: white;
}
@media all and (min-width: 600px) {
  .acona .acona-score {
    width: 200px;
    height: 200px;
  }
  .acona .score-counter__subtitle {
    font-size: 1.5em;
    margin-top: -1.3em;
  }
  .acona .score {
    flex-direction: row;
  }
  .acona .score-quickinfo__title {
    font-size: 1.2em;
  }
}