.acona-urls-block {

  &__url {
    word-break: break-word;
    display: inline-block;
    width: 70%;
    padding: 6px;
  }

  &__score {
    background: black;
    color: white;
    padding: 6px;
    display: inline-block;
    float: right;
  }

  ul.acona-urls-block__list {
    list-style: none;
    margin-left: 0;

    li {
      margin-bottom: 4px;
      background: #f1f1f1;
    }
  }
}
