.acona {

  .acona-heading {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .score {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .score-counter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    &__subtitle {
      display: block;
      text-align: center;
      margin-top: -1em;
    }
  }

  .score-chart {
    margin-bottom: 30px;
  }



  .score-quickinfo {
    font-size: 18px;
    display: flex;
    align-items: center;

    &__url {
      font-weight: bold;
      word-break: break-all;
    }
  }

  .acona-score {
    width: 150px;
    height: 100px;

    //svg
    &__tacho-bg,
    &__tacho-meter {
      will-change: auto;
      stroke-width: 20px;
      //stroke-miterlimit: round;
      transition: stroke-dashoffset 850ms ease-in-out;
      stroke-linecap: round;
    }

    &--high .acona-score__tacho-meter {
      stroke: #bada55;
    }
    &--low .acona-score__tacho-meter {
      stroke: #b50000;
    }
    &--medium .acona-score__tacho-meter {
      stroke: #ff9c1e;
    }
  }

  .recommendations-section {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .recommendations {
    list-style: none;
  }

  .recommendation {
    &__indication {
      display: inline-block;
      position: relative;
      top: 0.25rem;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      margin-right: 0.5rem;

      &.is-red {
        background-color: red;
      }

      &.is-green {
        background-color: green;
      }

      &.is-yellow {
        background-color: orange;
      }
    }

    &__title {
      text-transform: uppercase;
      color: gray;
    }

    &__text {

    }

    &__date {
      font-size: 12px;
      display: block;

      @media all and (min-width: 600px) {
        float: right;
        display: inline;
      }
    }

    &__more {
      display: block;

      @media all and (min-width: 600px) {
        margin-left: 1.75rem;
      }

      p {
        margin-top: 0;
        font-size: 14px;
      }
    }

  }

  .acona-no-results {
    font-size: 18px;
  }

  .notification {
    &__date {
      font-weight: bold;
    }

    &__title {
      display: inline-block;
      padding: 2px 6px;
      background: black;
      color: white;
    }
  }

  @media all and (min-width: 600px) {
    .acona-score {
      width: 200px;
      height: 200px;
    }

    .score-counter__subtitle {
      font-size: 1.5em;
      margin-top: -1.3em;
    }

    .score {
      flex-direction: row;
    }

    .score-quickinfo__title {
      font-size: 1.2em;
    }
  }

}
