<section class="acona" data-url="{{ page_uri }}" {% if base_url is not empty %}data-base-url="{{ base_url }}"{% endif %} xmlns="http://www.w3.org/1999/html">
  <h3 class="quickinfo">
    <span class="quickinfo__url">URL: {{ page_url_absolute }}</span>
  </h3>
  <div class="score-counter">
    <svg class="score-counter__svg acona-score" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 200 200" data-value="50">
      <path class="acona-score__tacho-bg" stroke="#efefef" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none"/>
      <path class="acona-score__tacho-meter" stroke="#ce5c5a" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none"
            stroke-dasharray="350" stroke-dashoffset="350"/>
      <text class="acona-score__value1" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle"
            font-family="Arial" font-size="66" fill="black">
        {{ success_score }}
      </text>
    </svg>
    <span class="score-counter__subtitle">{{ 'Current ACONA Success Score'|t}}</span>
    <span class="score-counter__info">(0-100)</span>
  </div>
  <h3 class="acona-heading">{{ 'ACONA Success Score History'|t}}</h3>
  <div class="score-chart acona__success-score-chart">
    <canvas class="score-chart__canvas" id="acona-success-score-chart" height="400"></canvas>
  </div>
  <div class="acona__recommendations-container recommendations-container">
    <h3 class="acona-heading">{{ 'Recommendations to improve your score for this page'|t}}</h3>
    {% if recommendations is not empty %}
    <details open>
      <summary class="recommendations-section">{{ 'High priority'|t }}</summary>
      <ul class="recommendations recommendations--critical">
        {% if recommendations.red is not empty %}
          {% for item in recommendations.red %}
            <li class="recommendation recommendations__item">
              <span class="recommendation__indication is-red" title="{{ 'Red indication'|t }}">&nbsp;</span>
              <span class="recommendation__title">{{ item.title }}:</span>
              <span class="recommendation__text">{{ item.recommendation }}</span>
              <span class="recommendation__date">{{ 'Last check:'|t }} {{ item.date }}</span>
              <span class="recommendation__more">
                <details>
                  <summary>More info</summary>
                  <p>{{ item.more }}</p>
                </details>
              </span>
            </li>
          {% endfor %}
        {% else %}
          <p class="recommendations__no-results-stub recommendations__no-results-stub--critical">
            {{ 'No recommendations found.'|t }}
          </p>
        {% endif %}
      </ul>
    </details>
    <details open>
      <summary class="recommendations-section">{{ 'Medium priority'|t }}</summary>
      <ul class="recommendations recommendations--warning collapsible-content__item-list">
        {% if recommendations.yellow is not empty %}
          {% for item in recommendations.yellow %}
            <li class="recommendation recommendations__item">
              <span class="recommendation__indication is-yellow" title="{{ 'Yellow indication'|t }}">&nbsp;</span>
              <span class="recommendation__title">{{ item.title }}:</span>
              <span class="recommendation__text">{{ item.recommendation }}</span>
              <span class="recommendation__date">{{ 'Last check:'|t }} {{ item.date }}</span>
              <span class="recommendation__more">
                 <details>
                   <summary>More info</summary>
                   <p>{{ item.more }}</p>
                </details>
              </span>
            </li>
          {% endfor %}
        {% else %}
          <p class="recommendations__no-results-stub recommendations__no-results-stub--warning">
            {{ 'No recommendations found.'|t }}
          </p>
        {% endif %}
      </ul>
    </details>
    <details open>
      <summary class="recommendations-section">{{ 'No action required'|t }}</summary>
      <ul class="recommendations recommendations--ok collapsible-content__item-list">
        {% if recommendations.green is not empty %}
          {% for item in recommendations.green %}
            <li class="recommendation recommendations__item">
              <span class="recommendation__indication is-green" title="{{ 'Green indication'|t }}">&nbsp;</span>
              <span class="recommendation__title">{{ item.title }}:</span>
              <span class="recommendation__text">{{ item.recommendation }}</span>
              <span class="recommendation__date">{{ 'Last check:'|t }} {{ item.date }}</span>
              <span class="recommendation__more">
                 <details>
                   <summary>More info</summary>
                   <p>{{ item.more }}</p>
                </details>
              </span>
            </li>
          {% endfor %}
        {% else %}
          <p class="acona-no-results">
            {{ 'No recommendations in this category.'|t }}
          </p>
        {% endif %}
      </ul>
    </details>
    {% else %}
    <p class="acona-no-results">
      {{ 'Sorry, there are no recommendations.'|t }}
    </p>
    {% endif %}
  </div>
  <div class="acona-notifications">
    <h3 class="acona-heading">{{ 'Notifications for this page'|t}}</h3>
    {% if notifications is not empty %}
    <ul class="notifications">
      {% for item in notifications %}
      <li class="notification">
        <span class="notification__date">{{ item.date }}:</span>
        <span class="notification__title">{{ item.title }}</span>
        <span class="notification__text">{{ item.text }}</span>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p class="acona-no-results">{{ 'Currently no notifications available.'|t }}</p>
    {% endif %}
  </div>
</section>
